.rank-block {
    margin-left: -10%;
  display: flex;
  align-items: center;
    min-width: 0;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  padding: .25rem 2rem;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.8rem solid var(--triangle-color, var(--green));
}

.triangleUp {
  --triangle-color: var(--green);
}

.triangleDown {
  --triangle-color: var(--evil-red);
  transform: rotate(180deg);
}