@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
    font-weight: 900;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: -0.15rem;
}

.no-italic {
  font-style: normal;
}

.no-bold {
  font-weight: normal;
}

.smaller{
    font-size: 1.2rem;
    letter-spacing: normal;
}

:root {
    --white: #eeefdf;
    --gold: #ffaa00;
    --silver: #d0e4ea;
    --bronze: #d15d2f;
    --red: #d12f2f;
    --evil-red: #ff2e3a;
    --maroon: #6d1b34;
    --blue: #1e67d3;
    --black: #191919;
    --brown: #a56028;
    --pink: #f275da;
    --purple: #700fbc;
    --green: #2fb264;
    --yellow: var(--gold);
}

.white  { background-color: var(--white); color: var(--black);}
.gold   { background-color: var(--gold); border: 0.1rem solid var(--white); color: var(--white);}
.silver { background-color: var(--silver); border: 0.1rem solid var(--black); color: var(--black);}
.bronze { background-color: var(--bronze); border: 0.1rem solid var(--white); color: var(--white);}
.red    { background-color: var(--red); color: var(--white);}
.evil-red { background-color: var(--evil-red); color: var(--white);}
.maroon { background-color: var(--maroon); color: var(--white);}
.blue   { background-color: var(--blue); color: var(--white);}
.black  { background-color: var(--black); border: 0.1rem solid var(--white); color: var(--white);}
.brown  { background-color: var(--brown); color: var(--white);}
.pink   { background-color: var(--pink); color: var(--white);}
.purple { background-color: var(--purple); color: var(--white);}
.green  { background-color: var(--green); color: var(--white);}
.yellow   { background-color: var(--yellow); color: var(--white);}

.circle {
    
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.35rem;
  height: 1.35rem;
  border-radius: 50%;
  font-weight: bold;
  line-height: .6rem; /* <-- matches height */
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.8rem solid var(--triangle-color, var(--green));
}

.triangleUp {
  --triangle-color: var(--green);
}

.triangleDown {
  --triangle-color: var(--evil-red);
  transform: rotate(180deg);
}

.leaf {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  border-top-left-radius: 1rem 1rem;
  border-bottom-right-radius: 1rem 1rem;
  padding: 0.25rem 0.5rem;
  height: 2.8rem;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  padding: .25rem 2rem;
}


.leaderboard {
  margin: 0 10rem;
  padding-top: 10rem;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* spacing between PlayerRows */
}


/*
.leaderboard .row:first-child {
  border-bottom: 1px solid var(--white); /* or whatever style you want */
/*}*/

.row {
  display: grid;
  grid-template-columns: 6fr 2.75fr .5fr 2.75fr 1fr 1.8fr;
  align-items: center;
  gap: 0.5rem;
  width: 60rem;
}


.cell {
  display: flex;             /* cell behaves like a table cell */
  align-items: center;       /* vertically center content */
  padding: 0 0.5rem;         /* optional spacing */
  justify-content: center;

  flex: 0 0 auto;            /* DON'T stretch; shrink-to-fit */
}

.player-cell {
    max-height: 100%;
    width: 100%;
  border-top-left-radius: 2rem 2rem;
  display: flex;
    align-items: center;    /* <-- vertical centering */
  padding: .3rem 0;
}

.rank-block {
    margin-left: -10%;
  display: flex;
  align-items: center;
    min-width: 0;
}

.leaf-holder {
  display: flex;
  justify-content: center;   /* center children horizontally */
  width: 100%;               /* fill horizontal space */
  padding: .35rem .35rem;           /* space between borders and children */
}

.leaf-holder > * {
  flex: 1;                   /* fill most available space */
}

.header {
  font-weight: normal;
  font-style: normal;
  color: var(--white);
  text-align: center;

  align-items: flex-end;   /* push content to bottom */
  padding-bottom: 0.1rem; /* slight spacing from bottom */
}

.money{
    margin-right: .8rem;
}