.leaderboard {
  margin: 0 10rem;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.grid-wrapper {
  position: relative; /* allows absolute positioning inside */
}

.submatrix-border {
  position: absolute;
  pointer-events: none;
  top: 1.75rem; /* matches .leaderboard padding-top */
  bottom: 2rem; /* span to the bottom */
  box-sizing: border-box;

  border-top: 1px solid var(--white);
  border-right: 1px solid var(--white);
  border-left: none;
  border-bottom: none;

  border-top-right-radius: .5rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.submatrix1-border {
  left: 11.75rem;
  width: 37.5rem;
}

.submatrix2-border {
  left: calc(37.5rem + 14rem);
  width: 28.5rem;
}
